.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 4px 40px;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  box-shadow: 1px 1px 10px 5px rgb(0, 0, 0, 0.2);
}

.hero {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(0, 0, 0, 0.03);
}

.dashboard {
  padding: 0.1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side-menu {
  height: 100vh;
}

.username-comment {
  color: blueviolet;
}
